body{
font-family: 'Source Sans Pro', sans-serif;
line-height: 1.2em;
}


h1 {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

{
  box-sizing: border-box;
}

.nav{
  background: #130c38;
  overflow: hidden;
}

.nav a{
  float: left;
  display: block;
  color: white;
  text-align:center;
  padding: 20px; 16px;
  text-decoration: none;
  font-size: 15px;
  width: 120px;
  text-transform: uppercase;
  font-weight: lighter;
}

.nav a:hover{
  background: #e37fbb;
  color: white;
}

.nav a.active{
  background: #130c38;
}

.search-container{
  float: right;
}



input[type=text]{
  padding: 6px;
  margin-top: 13px;
  font-size: 17px;

}

/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  }

.dropdown {
  display: inline-block;
  margin-right: 20px; /* Add margin between dropdowns */
}



/* Nav box */

.box{
box-sizing: border-box;

position: absolute;
width: 1309px;
height: 240px;
right: 60px;
top: 142px;

border: 1px solid #000000;
border-radius: 10px;
}

.col-left{
  float: left;
  width: 48%;
}

.col-right{
  float:right;
  width: 48%;
}
footer{
  clear: both;

}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}
.card {
  width: 30%;
  background-color: #f5f5f5;
  padding: 30px;
  box-sizing: border-box;
}

.card-content {
  /* Add styles to the card content */
}


.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content p {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eaeaea;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
}
